*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-item {
  flex: 1;
  margin: 10px;
  padding: 1px;
  text-align-last: right;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 130px;
  height: auto;
  margin-right: 10px;
}

.logo-text1 {
  font-size: x-large;
  text-align: center;
}

.item {
  align-items: center;
  font-size: small;
  /* margin-left: 5%; */
}
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }
}
.nav {
  background-color: brown;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-list li {
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: brown;
}

.about{
  align-items: center;
  width: 80%;
  margin-left: 50px;
  justify-content: space-around;
  margin-bottom: 10px;
  line-height: 2.0;
}
.head-acc{
  border-top: 30px;
  display: flexbox;
  align-items: center;
}
table {
  /* width: 80%; */
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Table header styles */
th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd; /* Border color for all sides */
}

th {
  background-color: #f2f2f2;
}

/* Alternating row colors for better readability */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Responsive table for small screens */
@media screen and (max-width: 600px) {
  table {
    overflow-x: auto;
    display: block;
  }

  th, td {
    white-space: nowrap;
  }
}


/* CSS for login page */
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust width as needed */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-area {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-btn {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* .table-striped {
  /* Add your table styles here */
/* } */ */

.table-striped th, .table-striped td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-striped th {
  text-align: left;
}

.table-striped th:nth-child(1) {
  width: 10%;
}

.table-striped th:nth-child(2) {
  width: 70%;
}

.table-striped th:nth-child(3) {
  width: 20%;
}

.fa-download {
  margin-right: 5px;
}

/* Home.css */

/* Slider container */
.notification-bar {
  position: absolute;
  bottom: 0; /* Position it at the bottom of the container */
  width: 100%;
  height: 100px;
  background-color: #232931;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.flash-highlight {
  width: 80px;
  height: 50px;
  background-color: #ad1417;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
  font-weight: bold;
}

.notification-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Add text ellipsis if overflow */
  flex: 1; /* Take remaining space */
  padding-left: 120px;
  animation: slideLeft 10s linear infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slick-slider {
  position: relative; /* Ensure the slider container is positioned relatively */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.slick-slide img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  margin: 5px;
  height: 50%; /* Reduce the height to half of the original */
}

/* Notifications.css */

.notifications {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e8d5d5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  /* margin: 0 auto; */
  /* padding: 1rem; */
  /* margin-bottom: 1rem; */
  align-items: center;
  /* top: 40px; */
  
  
}

.notifications h2 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #363174;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  border-top-left-radius: 20px; /* Adjust the value for the desired curvature */
  border-top-right-radius: 20px; /* Adjust the value for the desired curvature */
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.notifications ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0;
  animation: slideContinuous 15s linear infinite;
  animation-play-state: running;
}

.notifications:hover ul {
  animation-play-state: paused;
}

.notifications li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 1rem;
  opacity: 1;
}

.notifications li .date {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.notifications li .event {
  margin-top: 0.5rem;
}

@keyframes slideContinuous {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}

/* notifi3.css */

.jntuk-nss-team {
  border: 2px solid #4a4a4a;
  border-radius: 15px;
  overflow: hidden;
  background-color: #e3d5d5;
  box-shadow: 0 4px 6px rgba(222, 211, 211, 0.2);
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 60px; /* Adjust margin-top to create space between components */
}

.jntuk-nss-team h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem; /* Add padding for better visibility */
  background: linear-gradient(90deg, #1f1f1f, #333333);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.jntuk-nss-team ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.jntuk-nss-team li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #333333;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.jntuk-nss-team li:hover {
  background-color: #444444;
}

.jntuk-nss-team li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1rem;
  animation: slideLeftToRight 5s linear infinite;
}

.jntuk-nss-team li .details {
  flex: 1;
}

.jntuk-nss-team li .details h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.jntuk-nss-team li .details p {
  margin: 0;
  color: #cccccc;
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


/* notifi.css */

.news-events {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 1rem;
  position: relative;
  float: left;
}

.news-events h2 {
  margin-top: 0;
  font-size: 1.8rem;
  color: #333;
  position: sticky;
  top: 0; /* Keep the header sticky at the top */
  background-color: #fff; /* Set background color to match the container background */
  z-index: 1; /* Ensure the header is above other content */
}

.news-events ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0; /* Adjust top margin to make space for the header */
  animation: slideContinuous 30s linear infinite;
  animation-play-state: running;
}

.news-events:hover ul {
  animation-play-state: paused;
}

.news-events li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 1rem;
  opacity: 1;
}

.news-events li .date {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.news-events li .event {
  margin-top: 0.5rem;
}

@keyframes slideContinuous {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%); /* Move to the top */
  }
}

.container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  max-width: 1200px; /* Optional: Set a maximum width for the container */
  margin: 0 auto; /* Optional: Center the container */
}

.notifications,
.news-events,
.jntuk-nss-team {
  width: calc(33.33% - 10px); /* Adjust width and margin as needed */
  margin-right: 10px; /* Adjust margin as needed for spacing */
}
